<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data</title>
</head>
<h1>Doing something with the csv</h1>
<body>
<p>
    {% for i in data %}
    {{ i  }} <br><br><br><br>
    {% endfor %}

</p>
<div> 
<h2> Reasons you may not want to study or live in a first world country: </h2>
<ol>
  <li>If you turn out to be smarter than native students, they will call you cheater, lier or even rapist to dis-credit you.
</li>
  <li>. They expect everybody to start from cleaning dishes and toilets, inspite of your skills. ( Foreign governments should not issue Visa to skilled labour if you're looking for unskilled labour. For instance, US was smart and rejected my student visa, probably had enough Data Analysts/Engineers already. )
</li>
  <li>You cannot be better, or appear to be better than the any of the local residents. Jealously/Hatred ensues.
</li>

    <li>. They have a culture of using hormone blockers, to make men feminine and women masculine. As a result, people have mental health issues. At more than 2 instances, I had native people lash out at me and my friends for no wrong-doing.
</li>
  <li>. Due to point 4, you might be forced to tricked into joining cults: lgbtq cults, man-hating cult, self-hating cults, you name it..
</li>
  <li>. Due to point 4, they will give you anti-depressents that will make you feel worse. This reduces your focus and academic abilities. 
</li>
  
    <li>They expect you to deal drugs, as most of the immigrants are involved in drug trafficking. Even working professionals who are immigrants make extra money by transporting drugs.
</li>
  <li>Nobody helps anybody, unless they have something to gain. People avoid eye contacts. They stalk you but want you to start the communication first, maybe to get a leverage. For instance, if you talk first, it means you need them and they don't need you.
</li>
  <li>For you to get a job, you must be married and/or have a girlfriend. The reason for this one is deep and eff.ed up, so I won't go into the details. They basically want the part of the salary they pay you, to go back to themselves.
</li>

    <li>No freedom of speech. For instance, you can't even utter the words racism, slavery.  They believe that not talking about it will mean it does not exist. You are supposed to just keep quiet. ( Thought police everywhere)
</li>
  <li>Women are openly man-haters. Toxic feminism exists, that treat men as just cash cows.
</li>
  <li>One of my women boss wanted to pay for the work I did, not in cash but in the exposure I get and maybe the friendship (or maybe more, maybe not). Another woman boss paid me, but probably wanted some some personal (very personal) favours :).
</li>
    <li>. So, what they say is: Don't talk, always do what you're told, don't have an opinion, you're not better than us at anything. You're a 2nd class citizen, but we don't say that out loud, because we don't want to appear racist. You just have to understand that on you own. 
</li>
  <li>And when you expose all these lies they will label you crazy, put you in complete surveillance when you get to your home country. They will use all local forces to monitor you, label you as potential threat to yourself and others, while medicating you with medications. 
I believe 14 is happening with me right now, and so would like to hear if people returning from US/Europe have had similar experiences. And in the words of Andrew Tate, I believe Depression is not a real disease. It was just invented to silent people who utter facts out loud, and to label them as insane/psycotic.
</li>
  <li>Lot of stalkers, both males and females who want to know all your secrets: where you go, who you meet.
</li>
    <li>Hookup culture, and un-natural sexual habits/identities in the society.. Sexual relations encouraged from young age.
</li>
</ol>

</div>
</body>
</html>
